<app-mobile-menu></app-mobile-menu>
<div style="width: 100%; height: 100%">
  <ion-button (click)="goBack()" class="ion-padding"> Retour </ion-button>
  <ion-content *ngIf="recipesDetails">
    <ion-card class="details-card">
      <img
        [src]="recipesDetails.image"
        fullscreen
        class="ion-padding"
        class="recipe-details-img"
      />
      <ion-card-header>
        <ion-card-title><h2>{{ recipesDetails.title }}</h2></ion-card-title>
        <ion-card-subtitle>
          <div
            *ngIf="recipesDetails.vegetarian"
            style="margin-bottom: 16px; margin-left: 5px; color: darkgreen"
          >
            ( Vegan {{ recipesDetails.vegan ? ", Végétarien" : "" }}{{
            recipesDetails.glutenFree ? ", Sans gluten" : "" }}{{
            recipesDetails.dairyFree ? ", Sans produits laitiers" : "" }})
          </div>
          <ion-item>
            <ion-label><h2 class="item-keys">Score</h2></ion-label>
            <ion-badge color="primary" class="ion-margin-auto"
              >{{ recipesDetails.spoonacularScore }}</ion-badge
            >
          </ion-item>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <h2 class="ion-text-start item-keys">Recette</h2>
        <ion-item>
          <ion-text
            [innerHTML]="recipesDetails.summary"
            class="ion-margin-bottom"
          >
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label><h2 class="item-keys">Portion</h2></ion-label>
          {{ recipesDetails.servings }}
        </ion-item>
        <ion-item>
          <ion-label><h2 class="item-keys">Durée de préparation</h2></ion-label>
          {{ recipesDetails.readyInMinutes + ' min'}}
        </ion-item>

        <div>
          <ion-text class="ion-text-start"
            ><h2 class="item-keys">Préparation</h2></ion-text
          >
          <div *ngFor="let instruction of recipesDetails.analyzedInstructions">
            <div *ngFor="let step of instruction.steps" class="ion-text-start">
              <ion-item lines="none">
                <ion-label>Étape {{ step.number }}</ion-label>
                <ion-text
                  >(Ingredients: {{ showIngredients(step.ingredients)
                  }})</ion-text
                >
              </ion-item>

              <p>{{ step.step }}</p>
            </div>
          </div>
        </div>

        <ion-list>
          <ion-list-header class="ion-no-padding"
            ><h2 class="item-keys">Liste des ingrédients</h2></ion-list-header
          >
          <ion-item
            lines="none"
            *ngFor="let instruction of recipesDetails.extendedIngredients"
          >
            <ion-label> Ingédients </ion-label>
            <p>{{instruction.aisle}}</p>
            <ion-label> Quantités </ion-label>
            <p>{{instruction.originalString}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
