.active-link{
    font-family: 'LatoBlack'
}

.background-header {
    background-image: url("../../../assets/icon/lifeaz-logo.png") ;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
    width:80px;
    height:auto;
    float:left;

}