<ion-split-pane contentId="main" when="(min-width: 766px)">
  <ion-menu contentId="main" class="desktop-menu">
    <ion-header class="ion-no-border" style="height: '95.88px'">
      <ion-title class="menu-desktop-title"
        ><img src="../../../assets/icon/lifeaz-logo.png"
      /></ion-title>
    </ion-header>
    <ion-content>
      <ion-item class="desktop-menu-equipment-container">
        <ion-label color="dark"> MATÉRIEL </ion-label>
      </ion-item>
      <ion-menu-toggle autoHide="false">
        <ion-item
          lines="none"
          routerLink="/app/defibrillators"
          routerDirection="root"
          routerLinkActive="active-link"
        >
          <ion-label> DÉFIBRILLATEURS </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item
          lines="none"
          routerLink="/app/orders"
          routerDirection="root"
          routerLinkActive="active-link"
        >
          <ion-label> COMMANDES </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
