<app-mobile-menu></app-mobile-menu>

<ion-content>
  <div *ngIf="getScreenWidth >= 767;else mobileScreen">
    <ion-toolbar class="page-title">
      <ion-title class="ion-text-uppercase">Mes défibrillateurs</ion-title>
      <p class="description-text-container">
        <ion-text>
          Retrouvez-ici tous vos défibrillateurs. Vous pouvez voir s'ils sont
          fonctionnels, s'ils nécessitent de la maintenance, et en rechercher en
          particulier
        </ion-text>
      </p>
    </ion-toolbar>

    <ion-searchbar
      placeholder="Rechercher"
      (ionChange)="search($event)"
    ></ion-searchbar>
    <div style="width: 500px; height: 600px">{{customers}}</div>

    <!-- <ion-grid class="desktop-screen-items">
      <ion-row class="list-label-keys-margin">
        <ion-col class="list-label ion-text-uppercase" size="2">
          Numéro de série
        </ion-col>
        <ion-col class="list-label ion-text-uppercase" size="3">
          Localisation
        </ion-col>
        <ion-col class="list-label ion-text-uppercase" size="2">
          Emplacement
        </ion-col>
        <ion-col class="list-label ion-text-uppercase ion-text-center" size="2">
          État
        </ion-col>
        <ion-col class="list-label ion-text-uppercase" size="3">
          Date de péremption des électrodes
        </ion-col>
      </ion-row>
      <div *ngIf="(customers | filter: searchText).length > 0">
        <ion-row
          *ngFor="let customer of customers | filter: searchText; trackBy:trackItems"
        >
          <ion-col class="list-label" size="2"> {{ customer.serial }} </ion-col>
          <ion-col size="3">
            <ion-row>
              <ion-col size="2" class="ion-no-padding"
                ><ion-icon name="location-outline" color="tertiary"></ion-icon
              ></ion-col>
              <ion-col size="10" class="list-label ion-no-padding">
                <ion-row>{{ customer.locationName }}</ion-row>
                <ion-row class="list-label-normal"
                  >{{ customer.locationAddr }}</ion-row
                >
              </ion-col></ion-row
            >
          </ion-col>

          <ion-col size="2" class="color-medium">{{ customer.place }} </ion-col>
          <ion-col size="2" class="ion-text-center">
            <img
              src="{{customer.state === '2' ? '../../../assets/icon/danger-state-icon.png' : customer.state === '1'  ?  '../../../assets/icon/warning-state-icon.png' : '../../../assets/icon/working-state-icon.png'}}"
            />
          </ion-col>
          <ion-col size="3" class="color-medium">
            {{ customer.electrodesExpiry }}
          </ion-col>
        </ion-row>
      </div>
    </ion-grid> -->
  </div>
  <ng-template #mobileScreen>
    <ion-toolbar class="mobile-page-title">
      <ion-title class="ion-text-uppercase">Mes défibrillateurs</ion-title>

      <ion-text>
        Retrouvez-ici tous vos défibrillateurs. Vous pouvez voir s'ils sont
        fonctionnels, s'ils nécessitent de la maintenance, et en rechercher en
        particulier
      </ion-text>
    </ion-toolbar>

    <ion-searchbar
      placeholder="Rechercher"
      (ionChange)="search($event)"
    ></ion-searchbar>

    <!-- <div *ngIf="(customers | filter: searchText).length > 0">
      <ion-list
        *ngFor="let item of customers | filter: searchText; let i = index"
        class="accordion-list"
        lines="none"
        detail="false"
      >
        <ion-item>
          <ion-grid
            [ngClass]="{'full-mobile-items': item.open,
                 'default-mobile-items': !item.open}"
          >
            <ion-col>
              <ion-row class="mobile-serial-row">
                <ion-col size="9" class="vertical-center">
                  <ion-label class="lato-bold mobile-item-serial"
                    >{{item.serial}}
                  </ion-label>
                </ion-col>
                <ion-col size="3" class="vertical-center">
                  <img
                    class="state-icon ion-align-self-end"
                    src="{{item.state === '2' ? '../../../assets/icon/danger-state-icon.png' : item.state === '1'  ?  '../../../assets/icon/warning-state-icon.png' : '../../../assets/icon/working-state-icon.png'}}"
                  />
                </ion-col>
              </ion-row>
              <ion-row class="mobile-location-row">
                <ion-col size="9">
                  <ion-label class="location-labels lato-black"
                    >{{item.locationName}}</ion-label
                  >
                  <ion-label class="location-labels lato-regular"
                    >{{item.locationAddr}}</ion-label
                  >
                </ion-col>
                <ion-col size="3" class="ion-text-end">
                  <ion-icon
                    class="arrow-icon"
                    (click)="toggleSection(i)"
                    name="{{!item.open ? 'chevron-down-outline' : 'chevron-up-outline'}}"
                    color="primary"
                  ></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col *ngIf="item.open">
              <ion-grid class="sub-item">
                <ion-row class="mobile-sub-item-row mobile-place-row">
                  <ion-label
                    class="ion-text-uppercase lato-bold mobile-place-label-key"
                    >Emplacement</ion-label
                  >
                  <ion-label class="lato-regular mobile-place-label-value"
                    >{{item.place}}</ion-label
                  >
                </ion-row>
                <ion-row class="mobile-sub-item-row mobile-electrodes-row">
                  <ion-label
                    class="
                      ion-text-uppercase
                      lato-bold
                      mobile-electrodes-label-key
                    "
                    >Date de péremption des électrodes</ion-label
                  >
                  <ion-label class="lato-regular mobile-electrodes-label-value"
                    >{{item.electrodesExpiry}}</ion-label
                  >
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div> -->
  </ng-template>
</ion-content>
