@media screen and (min-width:767px){
ion-content {
      .page-title{
              inline-size: 476px;
             overflow-wrap: break-word;
      margin: 144px 4% 0 4%;
      ion-title{
    font-size: 36px;
    line-height: 30px;
}
ion-text{
    font-size: 14px;
    line-height: 17px;      
}
      }
         ion-searchbar {
        width: 92%;
        padding: 19px 0;
           --icon-color:var(--ion-color-primary);
           margin: 0 4%;
 }
}

}
@media screen and (max-width:766px){
    ion-header{
        background-color: var(--ion-color-primary);
    }
    ion-content {
      ion-toolbar{
         margin: 51px 28px 101px 29px;
    width: calc(100% - 57px);
      ion-title{
          margin-bottom: 10px;
    font-size: 21px;
    line-height: 25px;
}
ion-text{

    font-size: 14px;
}
ion-searchbar.sc-ion-searchbar-md-h.sc-ion-searchbar-md-s.md.searchbar-left-aligned.hydrated{
      height: 67px !important;
    width: 319px!important;
}
// ion-searchbar.searchbar-input {
//     background: #fff !important;
//     border-radius: 15px !important;
//     height: 67px !important;
//     width: 319px !important;
//     justify-content: center;
//     margin: auto;
// }
// ion-searchbar {
//     .sc-ion-searchbar-md-h sc-ion-searchbar-md-s md searchbar-left-aligned hydrated{
//   height: 67px !important;
//     width: 319px!important;
//     }
     .searchbar-input-container.sc-ion-searchbar-md {
   
        
             height: 67px !important;
     width: 319px!important;
         
     }
// }
// ion-searchbar{
//   height: 67px !important;
//     width: 319px!important;
// .searchbar-input {
//     background: #fff !important;
//     border-radius: 15px !important;
  
//     justify-content: center;
// }
//   .searchbar-search-icon.sc-ion-searchbar-md {
//     left: 16px;
//     top: 20px;
//     width: 22px;
//     height: 22px;
// }
// }
//   ion-searchbar.mobile-searchbar {
//         width: 319px;
//         padding: 19px 0;
//            --icon-color:var(--ion-color-primary);
// //            ion-searchbar{
// // margin: 0 4%;
// //     border-radius: 15px;
// // }
//  }
      }
}
}

ion-content{

   --ion-background-color: var(--ion-color-secondary) ;
         ion-title{
    color:var(--ion-color-primary);
    font-family: Lato-Black;
    padding: 0;
    vertical-align: top;
}
ion-text{
    font-family: Lato-Regular;
    color: #000;
}
// ion-searchbar{
// margin: 0 4%;
//     border-radius: 15px;
// }

}
.color-medium{
    color: var(--ion-color-medium);
}

.child-item{
    --ion-item-background: #f3f2f1;
    --padding-start: 8px;
    --inner-padding-end: 8px;
    margin-bottom:2px;
}

ion-grid.desktop-screen-items{

 
    padding: 36px 32px;
    background-color: #fff;
    border-radius: 10px;
background-color: #fff;
margin: 0 4% 144px;

.list-label{
    font-family: Lato-Bold;
}



}

ion-grid.default-mobile-items{
  padding: 0 23px;
  margin: 0 28px 10px 28px;
    height: 109px;
    width: 319px;
    background-color: #fff;
    border-radius: 15px;

   .mobile-serial-row , .mobile-location-row{
        height: 54.5px;
        /////////// test
 
     
    }

.mobile-location-row{
align-items: flex-start;
}

ion-col{
    padding: 0;
}
.lato-regular{
font-family: Lato-Regular; 
}
    .lato-bold{
font-family: Lato-Bold;
    }
    .lato-black{
 font-family: Lato-Black;
    } 

   .location-labels{
       padding: 0;
       font-size: 14px;
       max-width: 215px;
        overflow-wrap: break-word;
       white-space: normal;
line-height : 17px;
line-height: 100%;
  }
        .state-icon, .arrow-icon{
            width: 20px;
            height: 20px;
        }

    }

    ion-grid.full-mobile-items{
        width: 319px;
         padding: 0 23px;
  margin: 0 28px 10px 28px;
 
    background-color: #fff;
    border-radius: 15px;

    .mobile-serial-row , .mobile-location-row{
        height: 52.5px;
        
        
    }
ion-col{
    padding: 0;
}


    .lato-bold{
font-family: Lato-Bold;
    }
    .lato-black{
 font-family: Lato-Black;
    } 
   .location-labels{
       padding: 0;
       font-size: 14px;
       max-width: 215px;
        overflow-wrap: break-word;
       line-height:16,8px;
       white-space: normal;
   }
    .state-icon{
display: none;
    }


      .sub-item{
    height: 113px;
    background-color: #fff;
    border-radius: 0 0 15px 0;
    padding: 0;
.mobile-sub-item-row{
  width: 100%;
height: 56.5px;
display: flex;
justify-content: space-between;
.lato-bold{
    font-family: Lato-Bold;
}
.lato-regular{
    font-family: Lato-Regular;
}
.mobile-place-label-key{
    font-style: bold;
font-size: 11px;
line-height: 13px;
line-height: 100%;
letter-spacing: 0.33px;
}
 .mobile-electrodes-label-key{
     
       max-width: 125px;
        overflow-wrap: break-word;
       white-space: normal;  
font-style: bold;
font-size: 11px;
line-height: 11px;
line-height: 83%;
letter-spacing: 0.33px;
   }
   .mobile-place-label-value{
          max-width: 121px;
        overflow-wrap: break-word;
       white-space: normal;

  font-size: 14px;
line-height: 17px;;
line-height: 100%;
text-align: right;
       
   }
}
    .mobile-place-row{
      align-items: center;

    }
    .mobile-electrodes-row{

    }
}
    }
        



ion-list{
    padding: 0;
}

 .mobile-serial-row , .mobile-location-row{
        height: 54.5px;
        padding: 0;
        display: flex;
     justify-content: space-between;
     .mobile-icons-on-the-right{
         text-align: end;
     }
     
    }.mobile-serial-row{
       align-items: center;
       .mobile-item-serial{
           font-size: 16px;
line-height: 19px;
line-height: 100%;
       }
}
.mobile-page-title{
    ion-title{
        font-size: 21px;
    }

}
.mobile-description-text-container{

}

