@media screen and (min-width:767px){
ion-content {
      .page-title{
              inline-size: 476px;
             overflow-wrap: break-word;
      margin: 144px 4% 0 4%;
      ion-title{
    font-size: 36px;
    line-height: 30px;
}
ion-text{
    font-size: 14px;
    line-height: 17px;      
}
      }
         ion-searchbar {
        width: 92%;
        padding: 19px 0;
           --icon-color:var(--ion-color-primary);
 }
}

}
@media screen and (max-width:766px){
    ion-header{
        background-color: var(--ion-color-primary);
    }
    ion-content {
      ion-toolbar{
          margin-top: 51px;
      margin-left: 28px;
      ion-title{
    font-size: 21px;
    line-height: 25px;
}
.description-text-container{
         font-size: 14px;
    line-height: 16.8px;
    font-family: Lato-Regular;
  text-align: left;
  margin: 10 28px 0 0;
}
  ion-searchbar {
        width: 319px;
        padding: 19px 0;
           --icon-color:var(--ion-color-primary);
 }
      }
}
}

ion-content{

   --ion-background-color: var(--ion-color-secondary) ;
         ion-title{
    color:var(--ion-color-primary);
    font-family: Lato-Black;
    padding: 0;
    vertical-align: top;
}
ion-text{
    font-family: Lato-Regular;
    color: #000;
}
ion-searchbar{
margin: 0 4%;
    border-radius: 15px;
}

}
.color-medium{
    color: var(--ion-color-medium);
}

.child-item{
    --ion-item-background: #f3f2f1;
    --padding-start: 8px;
    --inner-padding-end: 8px;
    margin-bottom:2px;
}

ion-grid.desktop-screen-items{

 
    padding: 36px 32px;
    background-color: #fff;
    border-radius: 10px;
background-color: #fff;
margin: 0 4% 144px;

.list-label{
    font-family: Lato-Bold;
}



}

ion-grid.default-mobile-items{
  padding: 0 23px;
  margin: 0 28px 10px 28px;
    height: 109px;
    background-color: #fff;
    border-radius: 15px;

    ion-row{
        height: 50%;
        
        
    }
ion-col{
    padding: 0;
}


    .lato-bold{
font-family: Lato-Bold;
    }
    .lato-black{
 font-family: Lato-Black;
    } 

      
            .content-centered-right{         
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
    }
       .content-centered-left{         
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
    }
   .location-labels{
       padding: 0;
       font-size: 14px;
       max-width: 215px;
        overflow-wrap: break-word;
       line-height:16,8px;
       white-space: normal;
   }
        .icon-size{
            width: 20px;
            height: 20px;
        }


      .sub-item{
     padding: 0 23px;
     width: 319px;
  margin: 0 28px 10px 28px;
    height: 109px;
    background-color: #fff;
    border-radius: 0 0 15px 0;
}
    }

    ion-grid.full-mobile-items{
        height: 319px;
         padding: 0 23px;
  margin: 0 28px 10px 28px;
 
    background-color: #fff;
    border-radius: 15px;

    ion-row{
        height: 50%;
        
        
    }
ion-col{
    padding: 0;
}


    .lato-bold{
font-family: Lato-Bold;
    }
    .lato-black{
 font-family: Lato-Black;
    } 

      
            .content-centered-right{         
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
    }
       .content-centered-left{         
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
    }
   .location-labels{
       padding: 0;
       font-size: 14px;
       max-width: 215px;
        overflow-wrap: break-word;
       line-height:16,8px;
       white-space: normal;
   }
        .icon-size{
            width: 20px;
            height: 20px;
        }


      .sub-item{
     padding: 0 23px;
     width: 319px;
  margin: 0 28px 10px 28px;
    height: 109px;
    background-color: #fff;
    border-radius: 0 0 15px 0;
}
    }
        



ion-list{
    padding: 0;
}