<ion-content>
  <ion-toolbar>
    <ion-title>MES DÉFIBRILLATEURS</ion-title>
    <ion-text>
      Retrouvez-ici tous vos défibrillateurs. Vous pouvez voir s'ils sont
      fonctionnels, s'ils nécissitent de la maintenance, et en rechercher en
      particulier
    </ion-text>
  </ion-toolbar>

  <ion-searchbar
    placeholder="Rechercher"
    showCancelButton="focus"
    animated
  ></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col class="list-label"> NUMÉRO DE SÉRIE </ion-col>
      <ion-col class="list-label"> LOCALISATION </ion-col>
      <ion-col class="list-label"> EMPLACEMENT </ion-col>
      <ion-col class="list-label"> ÉTAT </ion-col>
      <ion-col class="list-label"> DATE DE PÉREMPTION DES ÉLECTRODES </ion-col>
    </ion-row>
    <ion-row *ngFor="let customer of customers index as i">
      <ion-col class="list-label"> {{ customer.serial }} </ion-col>
      <ion-col>
        <div class="list-label">
          <ion-icon name="location-outline"></ion-icon> {{ customer.locationName
          }}
        </div>
        <div>{{ customer.locationAddr }}</div>
      </ion-col>

      <ion-col> {{ customer.place }} </ion-col>
      <ion-col>
        <img
          src="{{customer.state === '2' ? '../../../assets/icon/danger-state-icon.png' : customer.state === '1'  ?  '../../../assets/icon/warning-state-icon.png' : '../../../assets/icon/working-state-icon.png'}}"
        />
      </ion-col>
      <ion-col> {{ customer.electrodesExpiry }} </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
