@media(min-width:769px){
.mobile-header{
    display: none;

}

}
.mobile-header{
    height: 67px;
ion-buttons, .toolbar-container{
    margin: 0;
    padding: 0;
}

ion-toolbar{
   --padding-start: 28px ;
   --padding-end: 27px;
display: flex;
flex-direction: column;
justify-content: center;

.toolbar-container{
height: 100%;
display: flex;
justify-content: space-between;
}

.lifeaz-mobile-logo{
  width:83px;
  height:26.6px;
}

}

}
