.content-wrapper{
    height: 100%;
    width: 100%;
    display: flex;

.accordion-container,
.accordion-container .arrow,
.accordion-container .arrow:before,
.accordion-container .arrow:after,
.accordion-container .content {
  transition: all .4s ease-in-out;
}

.accordion-container .arrow {
  position: absolute;
  top: 50%;
  
}

.accordion-container .arrow,
.accordion-container .arrow:before,
.accordion-container .arrow:after {
  border-radius: 25px;
}

.accordion-container .arrow:before {
  content: " ";
  width: 15px;
  height: 4px;
  left: 50%;
  margin-left: -8px;
  background-color: black;
  position: absolute;
  transform: rotate(45deg);
    
}

.accordion-container .arrow:after {
  content: " ";
  width: 15px;
  height: 4px;
  background-color: black;
  position: absolute;
  right: -15px;
  transform: rotate(-45deg);

}

.accordion-container.open .arrow:before {
  transform: rotate(-45deg);
}

.accordion-container.open .arrow:after {
  transform: rotate(45deg);
}

.accordion-container h1 {
    font-size: 1rem;
    position: relative;
    display: block;
    margin: 0px;
    padding-right: 28px;
}

.accordion-container p {
  font-size: 0.9rem;
  color: #464545;
}

.accordion-container {
  display: block;
  cursor: pointer;
  position: relative;
  background: white;
  padding: 0px 10px;
 
}

.accordion-container.open {
  cursor: default;
}

.accordion-container:hover {
  background:var(--ion-color-primary);
}

.accordion-container.open:hover {
  background: #ffffff;
}

.accordion-container .content {
  opacity: 0;
 
}

.accordion-container.open .content {
    display: block;
    opacity: 1;
}

ion-item{
    --background:#fff
}
}
////////////////////@at-root
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .form-buttons{
  height: 36px;
  }

@media screen and (max-width: 767px) {
  .content-wrapper .accordion-container h1 {
  font-size: 10px;
    padding-right: 14px;
  }
 .form-buttons{
  height: 24px;
  }

}