<ion-content
  class="ion-no-padding"
  [ngStyle]="{
    height:
      isRecommandationListItemOpened ||
      isDescriptionListItemOpened ||
      isWineToAssociateListItemOpened
        ? '100%'
        : '60px'
  }"
>
  <div class="content-wrapper" style="overflow-y: hidden">
    <div
      style="
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        position: relative;
        height: 60px;
      "
      class="accordion-container"
      [ngClass]="isRecommandationListItemOpened ? 'open' : ''"
    >
      <h1
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          text-align: center;
        "
      >
        Recommandations
        <div
          class="arrow"
          (click)="formRecommandationClicked()"
          style="position: absolute; right: 20px"
        ></div>
      </h1>
      <form
        class="content"
        [formGroup]="wineRecommandationForm"
        (ngSubmit)="submitRecommandationForm()"
        style="position: absolute; width: 100%; top: 60px; height: auto"
        novalidate
      >
        <ion-item lines="full">
          <ion-label position="floating" style="padding-left: 10px"
            >Vin</ion-label
          >
          <ion-input formControlName="wine" type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating" style="padding-left: 10px"
            >Quantité</ion-label
          >
          <ion-input
            formControlName="quantity"
            type="text"
            required
          ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating" style="padding-left: 10px"
            >Note minimale</ion-label
          >
          <ion-input
            formControlName="minRating"
            type="text"
            required
          ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating" style="padding-left: 10px"
            >Prix maximum</ion-label
          >
          <ion-input
            formControlName="maxPrice"
            type="text"
            required
          ></ion-input>
        </ion-item>
        <ion-row>
          <ion-col style="background-color: white">
            <ion-button
              class="form-buttons"
              type="submit"
              color="danger"
              expand="block"
              >Submit</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </div>

    <div
      style="
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        position: relative;
        height: 60px;
      "
      class="accordion-container"
      [ngClass]="isDescriptionListItemOpened ? 'open' : ''"
    >
      <h1
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          text-align: center;
        "
      >
        Description
        <div
          class="arrow"
          (click)="formDescriptionClicked()"
          style="position: absolute; right: 20px"
        ></div>
      </h1>

      <form
        class="content"
        [formGroup]="wineDescriptionForm"
        (ngSubmit)="submitDescriptionForm()"
        style="position: absolute; width: 100%; top: 60px; height: auto"
        novalidate
      >
        <ion-item lines="full">
          <ion-label position="floating" style="padding-left: 10px"
            >Vin</ion-label
          >
          <ion-input
            formControlName="wineDescription"
            type="text"
            required
          ></ion-input>
        </ion-item>

        <ion-row>
          <ion-col style="background-color: white">
            <ion-button
              class="form-buttons"
              type="submit"
              color="danger"
              expand="block"
              >Submit</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </div>

    <div
      style="
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        position: relative;
        height: 60px;
      "
      class="accordion-container"
      (click)="formAssociationClicked()"
      [ngClass]="isWineToAssociateListItemOpened ? 'open' : ''"
    >
      <h1
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          text-align: center;
        "
      >
        Association
        <div
          class="arrow"
          (click)="winesToAssociateToggleAccordion()"
          style="position: absolute; right: 20px"
        ></div>
      </h1>

      <form
        class="content"
        [formGroup]="wineAssociateForm"
        (ngSubmit)="submitAssociateForm()"
        style="position: absolute; width: 100%; top: 60px; height: auto"
        novalidate
      >
        <ion-item lines="full">
          <ion-label position="floating" style="padding-left: 10px"
            >Plat</ion-label
          >
          <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating" style="padding-left: 10px"
            >Prix maximum</ion-label
          >
          <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-row>
          <ion-col style="background-color: white">
            <ion-button
              class="form-buttons"
              type="submit"
              color="danger"
              expand="block"
              >Submit</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>
