<app-mobile-menu></app-mobile-menu>

<ion-content class="wine-container">
  <app-accordion></app-accordion>

  <div
    [ngClass]=" getScreenWidth >= 767 ? 'carrousel-container' :'mobile-carrousel-container' "
    *ngIf="carouselDatas"
  >
    <app-carrousel
      (formReseted)="showHideRecommandation($event)"
    ></app-carrousel>
  </div>

  <div
    class="carrousel-container ion-padding ion-text-center"
    *ngIf="descriptionDatas"
  >
    <p>Description: <span>{{ descriptionDatas.wineDescription }}</span></p>
  </div>
</ion-content>
