ion-content{
  --ion-background-color: var(--ion-color-secondary) ;

}

.desktop-wine-container{
width: 100%; 
height: 100%;
}
.mobile-wine-container{
  width: 100%; 
height: 100%;
padding: 0px;
}

main.inner-scroll.scroll-y{
padding: 0;
}

.wine-form-container{
width: 100%; 
height: 100%;
text-align: center;

align-items: center;
justify-content: center;

}
.ion-padding{
  padding: 0px;
}

.carrousel-container{
  text-align: center;
  justify-content: center;
  align-items: center;
height: 90%;
}
.mobile-carrousel-container{
 height: auto;
    text-align: center;
  justify-content: center;
  align-items: center;
}