<ion-header class="mobile-header">
  <div class="accordion-container" [ngClass]="isListItemOpened ? 'open' : ''">
    <ion-toolbar color="primary" class="toolbar-container">
      <img src="assets/icon/chef.png" class="chef-mobile-logo" />
      <ion-buttons slot="end" (click)="toggleAccordion()">
        <img src="{{ !isListItemOpened ? burgerImg : markImg }}" />
      </ion-buttons>
    </ion-toolbar>
    <div *ngFor="let item of menuItems">
      <div class="content">
        <p>
          <ion-label
            class="ion-text-uppercase"
            routerLink="{{ item.path }}"
            routerDirection="root"
            routerLinkActive="active-link"
            >{{ item.title }}</ion-label
          >
        </p>
      </div>
    </div>
  </div>
</ion-header>
